@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Cairo', sans-serif;
  overflow: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainPage {
  color: white; 
  width: 100vw; 
  height: 100vh; 
  background: linear-gradient(210.51deg, #35858A, #00C064 84.58%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  line-height: 34px;
}

.name {
  font-size: 3rem;
}

.nav {
  font-size: 2rem;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}

.intro{
  height: 67vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 20rem;
  white-space: pre-line;
  font-family: 'Cairo', sans-serif;
}

.footer{
  height: 30vh;
  background-color: #2B2F32;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 100rem;
}

.right-footer{
 display: flex;
 justify-content: space-evenly;
 width: 50vh;
 text-align: left;
 line-height: 2.5rem;
}

.link{
  color: white;
  text-decoration: none;
}

.link:visited{
  color: white;
  text-decoration: none;
}

.linkedIn:hover{
  color: #004DC0;
}

.pro-link:hover{
  color: #ff6249;
}

.github:hover{
  color: #d19fe8;
}

.project-link{
  cursor: pointer;
}

.logo {
  display: inline-block;
  background-color: '#F4F4F4';
  width: '10%' 
}

.resume{
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px; 
  width: 10vw;
  color: #EFEFEF;
  text-decoration: none;
  padding: .5rem 2rem;
}

.blue-line{
  background: linear-gradient(210.51deg, #35858A, #00C064 84.58%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: .2rem;
  width: 85%;
  margin-bottom: 3rem;
}

.photo-div{
  width: 25vw;
  text-align: right;
  padding-right: 5rem;
}

.div-resume{
  padding: 0rem 3rem;
  position: absolute;
  left: 80vw;
  top: 92vh;
}

.top-links{
  color:white
}

.footer-left{
  text-align: left; 
  padding: 1rem 4rem; 
}

.follow-div{
  display: flex; 
  flex-direction: column; 
}

.more-div{
  width: 50% ;
}

.color-div{
  display: flex;
  height: 3%; 
  padding-bottom: 1.8rem; 
}

.main-project-div{
  height: 65vh; 
  padding: 1rem;
  background-color: #F9F9F9;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.project-description{
  padding: .5rem;
  font-weight: bold;
  text-align: left; 
  color: #51595F 
}

.project-description1{
  text-align: left;
  line-height: 2rem; 
  padding: .5rem;
  color: #51595F
}

.project-image{
  width: 600px; 
  height: 350px; 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12); 
  border-radius: .3rem ;
}

.exit-button{
  display: flex; 
  justify-content: flex-end; 
  padding: .5rem;
}

.button-div{
  display: flex;
  padding-top: 3rem;
  justify-content: space-evenly;
}

.switcher{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  padding: .5rem;
}

.techHeading{
  font-weight: lighter;
  color: "#51595F";
}

.tech{
  padding: 0rem 1rem;
  font-weight: bold;
  font-size: .7rem;
}

.tech-section{
  display: flex; 
  flex-direction: column;
  align-items: flex-start; 
  padding: 1rem; 
}

.tech2{
  display: none;
}

.left-project{
  padding: 1rem;
}

.right-project{
  padding: 1rem;
}


@media (max-width:1280px){
  .div-resume{
    left: 75vw
  }
}

@media (max-width:1250px){
  .intro{
    width:70vw;
    padding-left: 11rem;
  }
}

@media (max-width:1280px){
  .project-image{
    width: 500px;
    height: 300px;
  }
  .tech-section{
    display: none;
  }
  .tech2{
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    padding-bottom: 3rem; 
    width: 100%;
  }
  .main-project-div{
    flex-wrap: wrap;
  }
  .left-project{
    width: 50%; 
  }
  .right-project{
    width: 40%;
  }
}

@media (max-width:1220px){
  .project-image{
    width: 460px;
    height: 300px;
  }

}

@media (max-width:1150px){
  .project-image{
    width: 430px;
    height: 300px;
  }

}


@media (max-width:1100px){
  .tech2{
    display: none;
  }
  .main-project-div{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .color-div{
    display: none;
  }
  .right-project{
    width: 100%;
    padding: 0rem;
  }
  .left-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0rem;
  }
  .project-description{
    display: none;
  }
  .project-description1{
    text-align: center;
  }
  .button-div{
    padding-top: 1.5rem;
  }

}

@media (max-width:1050px){
  .column-photos{
    display: none;
  }
  .image1{
    width: 100%;
  }
}

@media (max-width:1020px){
  .div-resume{
    left: 70vw
  }
  .blue-line{
    display: none;
  }
}

@media (max-width:990px){
  .button-div{
    padding-top: .5rem;
  }
    .project-image{
      width: 460px;
      height: 275px;
    }
}

@media (max-width:850px){
  .intro{
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;
  }
  .div-resume{
    left: 65vw
  }
  .nav{
    width:30vw
  }
}
@media (max-width:800px){
  .tech-section{
    display: none;
  }
  .color-div{
    display: none;
  }
  .project-description{
    width: 100%;
    padding-top: 0rem; 
    text-align: center;
  }
  .button-div{
    padding: 0rem
  }

} 

@media (max-width:730px){
  .div-resume{
    left: 60vw
  }
}


@media (max-width:700px){
  .project-image{
    width: 400px;
    height: 260px;
  }
}

@media (max-width:640px){
  .div-resume{
    left: 55vw
  }
}

@media (max-width:600px){
  .intro{
    padding-left: 5rem;
  }
  .div-resume{
    left: 28vw
  }
  .footer-name{
    display: none;
  }
  .footer-left{
    padding: 1rem 3rem; 
  }
}

@media (max-width:550px){
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .links2{
    margin: 2rem 0rem;
    padding-left: .5rem;
  }
  .links3{
    border-right: white 1px solid;
    padding-right: .5rem;
  }
  .footer-left{
    order: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .right-footer{
    order: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .follow{
    display: none;
  }
  .more{
    display: none;
  }
  .follow-div{
    flex-direction: row;
    justify-content: center;
  }
  .p-tag{
    order:10;
  }
  .p-tag2{
    order:0;
  }
  .project-description{
    padding-top: 4rem; 
  }
}

@media (max-width:540px){
  .project-image{
    width: 375px;
    height: 240px;
  }
}

@media (max-width:500px){
  .photo-div{
    margin-left: -2rem;
    padding: .5rem;
  }
  .div-resume{
    left: 25vw
  }
  .project-image{
    width: 300px;
    height: 200px;
  }
}